fastapi==0.115.2
uvicorn[standard]==0.32.0
requests==2.32.3

# Milvus + pins por marshmallow/environs
pymilvus==2.4.3
environs==9.5.0
marshmallow>=3.13,<4

# Embeddings
sentence-transformers==2.7.0
torch==2.3.1
numpy==1.26.4
huggingface-hub>=0.24.0,<0.26.0


